<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<% for href in tinker[:dependencies][:styles] %>
	<link rel="stylesheet" href="<%=href%>"></script>
<% end %>
<style type="text/css">
<%=tinker[:code][:css]%>

</style>
</head>

<body>
<%=tinker[:code][:html]%>

<% for href in tinker[:dependencies][:scripts] %>
	<script src="<%=href%>"></script>
<% end %>
<script>
<%=tinker[:code][:js]%>

</script>
</body>
</html>
